# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Check out the Train Data

In [2]:
train_df=pd.read_excel("Data_file.xlsx",header=2)

In [3]:
train_df.head()

,S.No.,College,Role,City type,Previous CTC,Previous job changes,Graduation marks,Exp (Months),CTC
0,1,Tier 1,Manager,Non-Metro,55523,3,66,19,71406.576531
1,2,Tier 2,Executive,Metro,57081,1,84,18,68005.870631
2,3,Tier 2,Executive,Metro,60347,2,52,28,76764.020277
3,4,Tier 3,Executive,Metro,49010,2,81,33,82092.386880
4,5,Tier 3,Executive,Metro,57879,4,74,32,73878.097729

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.No.                 1338 non-null   int64
 1   College               1338 non-null   object
 2   Role                  1338 non-null   object
 3   City type             1338 non-null   object
 4   Previous CTC          1338 non-null   int64
 5   Previous job changes  1338 non-null   int64
 6   Graduation marks      1338 non-null   int64
 7   Exp (Months)          1338 non-null   int64
 8   CTC                   1338 non-null   float64
dtypes: float64(1), int64(5), object(3)
memory usage: 94.2+ KB

In [5]:
train_df.shape

(1338, 9)

In [ ]:
train_df=train_df.drop('S.No.', axis=1)
train_df.head()

## Check for missing values

In [ ]:
train_df.isnull().sum()

## Check for duplicate records

In [ ]:
print(f'Duplicates in dataset: {train_df.duplicated().sum()},({np.round(100*train_df.duplicated().sum()/len(train_df),1)}%)')

## Separate numerical and categorical variables

In [ ]:
numerical=[]
for col in train_df.columns:
    if train_df[col].dtypes!='O':
        numerical.append(col)
print(numerical)

In [ ]:
categorical=[]
for col in train_df.columns:
    if train_df[col].dtypes=='O':
        categorical.append(col)
print(categorical)

# EDA

In [ ]:
sns.set(style="whitegrid")
plt.figure(figsize=(8,5))
total = float(len(train_df))
ax = sns.countplot(x="College", hue="College", data=train_df)
plt.title('% of new hires by College type', fontsize=20)
for p in ax.patches:
    percentage = '{:.1f}%'.format(100 * p.get_height()/total)
    x = p.get_x() + p.get_width()
    y = p.get_height()
    ax.annotate(percentage, (x, y),ha='center')
plt.show()

In [ ]:
sns.set(style="whitegrid")
plt.figure(figsize=(8,5))
total = float(len(train_df))
ax = sns.countplot(x="Role", hue="Role", data=train_df)
plt.title('% of new hires by Role type', fontsize=20)
for p in ax.patches:
    percentage = '{:.1f}%'.format(100 * p.get_height()/total)
    x = p.get_x() + p.get_width()
    y = p.get_height()
    ax.annotate(percentage, (x, y),ha='center')
plt.show()

In [ ]:
sns.set(style="whitegrid")
plt.figure(figsize=(8,5))
total = float(len(train_df))
ax = sns.countplot(x="City type", hue="City type", data=train_df)
plt.title('% of new hires by City type', fontsize=20)
for p in ax.patches:
    percentage = '{:.1f}%'.format(100 * p.get_height()/total)
    x = p.get_x() + p.get_width()
    y = p.get_height()
    ax.annotate(percentage, (x, y),ha='center')
plt.show()

In [ ]:
sns.boxplot(x=train_df.College, y=train_data.CTC)

In [ ]:
sns.boxplot(x=train_df.Role, y=train_data.CTC)

In [ ]:
sns.pairplot(train_df)

## Convert categorical variables to numerical

In [ ]:
train_df=pd.get_dummies(train_df, drop_first=True)

In [ ]:
train_df.head()

In [ ]:
plt.figure(figsize=(12,10))
sns.heatmap(train_df.corr() ,cmap='coolwarm', linecolor='white', annot=True)

# Training a Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
X_train=train_df.drop('CTC',axis=1)
y_train=train_df['CTC']

In [ ]:
linearmodel=LinearRegression()
linearmodel.fit(X_train, y_train)

# Check out the Test Data

In [ ]:
test_df=pd.read_excel("Test_data_file.xlsx")

In [ ]:
test_df.head()

In [ ]:
test_df.info()

In [ ]:
test_df=test_df.iloc[:,:12]

In [ ]:
test_df.head()

In [ ]:
test_df=test_df[['College','Role','City type','previous CTC','previous job changes','Graduation marks','Exp','Actual CTC']]
test_df.head()

## Convert categorical variables to numerical

In [ ]:
test_df=pd.get_dummies(test_df,drop_first=True)
test_df.head()

In [ ]:
test_df.info()

In [ ]:
X_test=test_df.drop('Actual CTC',axis=1)
y_test=test_df['Actual CTC']

## Predictions from our Model

In [ ]:
predictions=linearmodel.predict(X_test)

# Model Evaluation

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

In [ ]:
print("R2 score: ",r2_score(y_test,predictions))

In [ ]:
print("Mean squared error: ", mean_squared_error(y_test,predictions))

In [ ]:
result_df=pd.concat([test_df, pd.DataFrame(predictions, columns=["Predicted CTC"])], axis=1)

In [ ]:
result_df=result_df[["previous CTC", "previous job changes", "Graduation marks", "Exp", "College_Tier 2", "College_Tier 3"
                    ,"Role_Manager", "City type_Non-Metro", "Actual CTC", "Predicted CTC"]]
result_df.head()